{% import '@OroUI/macros.html.twig' as UI %}
{% import '@Customer/macros.html.twig' as CustomerUI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="row-fluid">
                {{ UI.renderProperty('app.customer.customer_full_name.label'|trans, entity.customerFullName) }}

                {{ UI.renderProperty('app.customer.short_name.label'|trans, entity.shortName) }}

                {% if entity.inn %}
                    {{ UI.renderProperty('app.customer.inn.label'|trans, entity.inn) }}
                {% endif %}

                {% if entity.kpp %}
                    {{ UI.renderProperty('app.customer.kpp.label'|trans, entity.kpp) }}
                {% endif %}

                {% if entity.unp %}
                    {{ UI.renderProperty('app.customer.unp.label'|trans, entity.unp) }}
                {% endif %}

                {% if entity.projects.count %}
                    {{ UI.renderHtmlProperty('app.customer.projects.label'|trans, entity.projects.count ? CustomerUI.renderCollectionElements(entity.projects, 'label') : null) }}
                {% endif %}

                {% if entity.region and entity.region.name %}
                    {{ UI.renderProperty('app.customer.region.label'|trans, entity.region.name) }}
                {% endif %}

                {% if entity.signs.count %}
                    {{ UI.renderProperty('app.customer.signs.label'|trans, entity.signs|join(', ')) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
